@charset "utf-8";
/* CSS Document */
#container {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	height: 1000px;
}
#center {
	height: 617px;
	position: absolute;
	width: 858px;
	left: 254px;
	top: 387px;
}
#center top {
	width: 250px;
}
.right {
}
.p001 {
	padding: 20px;
	position: absolute;
	left: 652px;
	top: 416px;
}
.p01 {
	padding: 20px;
	position: absolute;
	left: 309px;
	top: 296px;
}
.friend {
	padding: 20px;
	position: absolute;
	left: 67px;
	top: 423px;
}
#all {
	background-image: url(img/BG.jpg);
	background-repeat: repeat;
	height: 1000px;
	width: 1406px;
	position: inherit;
	top: auto;
	display: inline-flex;

}
.pho {
	padding: 20px;
	position: absolute;
	left: 959px;
	top: 91px;
}
.BG {
	position: absolute;
}
#header {
	height: 250px;
}
.xleng {
	padding-top: 20px;
	margin: 20px;
	position: absolute;
}
.DIG {
	position: absolute;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	left: 512px;
	top: 91px;
}
.animt {
	position: absolute;
	left: 778px;
	top: 90px;
	padding: 20px;
}
.line {
	padding: 10px;
	position: absolute;
	left: 0px;
	top: 90px;
}
.contact {
	padding: 20px;
	position: absolute;
	left: 1192px;
	top: 90px;
}
body,td,th {
	color: #FFF;
}